* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 16px;
    font-family: 'Montserrat'
}  

@import "./../global";
@import "./container.scss";
@import "./fractions.scss";
@import "./alignment.scss";


.d-flex {
    display: flex;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.f-dir-column {
    flex-direction: column;
}

.f-dir-row {
    flex-direction: row;
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $bs-margin-x * -0.5;

    & > * {
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }
}

.m-auto {
    margin-left: auto;
}

.testline {
    height: 200px;
}


.item {
    height: 50px;
    background-color: wheat;
    font-size: 24px;
    border: 2px solid whitesmoke;
}



