
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="./flesh-block-1.css">
</head>

<section class="f-mainScreen-1">
    <div class="container f-mainScreen-1__container">
        <div class="line jus-cont-center ali-center">
            <div class="f-12">
                <div class="f-mainScreen-1__title-group d-flex f-dir-column ali-center">
                    <h1 class="title">Главный заголовок страницы</h1>
                    <p class="subtitle f-mainScreen-1__subtitle">Подзаголовок главного экрана. Как правило раскрывает суть главного заголовка страницы</p>
                </div>
            </div>
        </div>
    </div>
</section>