
$lt  : 564px;        // little
$med : 756px;        // medium
$bg  : 980px;        // big
$xb  : 1188px;       // extra big
$xxb : 1388px;       // extra extra big

$bs-padding-x: 1.5rem; // базовый внутренний отступ слева и справа
$bs-margin-x: 1.5rem;  // базовый внешний отсуп слева и справа
$bs-padding-y: 0;      // базовый отступ сверху и снизу

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: $xxb;
    width: 100%;
    background-color: violet;
    padding: $bs-padding-y $bs-padding-x * 0.5;
    border-radius: 5px;

    // устройства "Little", смартфоны с горизонтальной ориентацией
    @media (min-width: $lt) {
        max-width: 528px;
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }

    @media (min-width: $med) {
        max-width: 708px;
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }

    @media (min-width: $bg) {
        max-width: 948px;
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }

    @media (min-width: $xb) {
        max-width: 1128px;
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }

    @media (min-width: $xxb) { 
        max-width: 1308px;
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $bs-margin-x * -0.5;

    & > * {
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }
}

.f {
    flex: 1 0 0%;

    &-1 {
        flex: 0 0 auto;
        width: 8.33333333333%;
    }

    &-2  {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    &-3  {
        flex: 0 0 auto;
        width: 25%;
    }

    &-4  {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    &-5  {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    &-6  {
        flex: 0 0 auto;
        width: 50%;
    }

    &-7 { 
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    &-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    &-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    &-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    &-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    &-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}





