
$lt  : 564px;        // little
$med : 756px;        // medium
$bg  : 980px;        // big
$xb  : 1188px;       // extra big
$xxb : 1388px;       // extra extra big

$breakpoints : (
    lt  : (564px, 528px),         // little
    med : (756px, 708px),         // medium
    bg  : (980px, 948px),         // big
    xb  : (1188px, 1128px),       // extra big
    xxb : (1388px, 1308px),       // extra extra big
);

$bs-padding-x: 1.5rem; // базовый внутренний отступ слева и справа
$bs-margin-x: 1.5rem;  // базовый внешний отсуп слева и справа
$bs-padding-y: 0;      // базовый отступ сверху и снизу

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

@import "./container.scss";
 

.line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $bs-margin-x * -0.5;

    & > * {
        padding: $bs-padding-y $bs-padding-x * 0.5;
    }
}

.f {
    flex: 1 0 0%;

    &-1 {
        flex: 0 0 auto;
        width: 8.33333333333%;
    }

    @media (min-width: $lt) {
        &-lt-1 {
            flex: 0 0 auto;
            width: 8.33333333333%;
        }
    }

    @media (min-width: $med) {
        &-med-1 {
            flex: 0 0 auto;
            width: 8.33333333333%;
        }
    }

    @media (min-width: $bg) {
        &-bg-1 {
            flex: 0 0 auto;
            width: 8.33333333333%;
        }
    }

    @media (min-width: $xb) {
        &-xb-1 {
            flex: 0 0 auto;
            width: 8.33333333333%;
        }
    }

    @media (min-width: $xxb) { 
        &-xxb-1 {
            flex: 0 0 auto;
            width: 8.33333333333%;
        }
    }

    &-2  {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    &-3  {
        flex: 0 0 auto;
        width: 25%;
    }

    &-4  {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    &-5  {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    &-6  {
        flex: 0 0 auto;
        width: 50%;
    }

    &-7 { 
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    &-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    &-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    &-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    &-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    &-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    // @media (min-width: $lt) {
        
    // }

    // @media (min-width: $med) {
      
    // }

    // @media (min-width: $bg) {

    // }

    // @media (min-width: $xb) {

    // }

    // @media (min-width: $xxb) { 

    // }
}

.ali {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }
}

.alis {
    &-start {
        align-self: flex-start;
    }
    &-center {
        align-self: center;
    }
    &-end {
        align-self: flex-end;
    }
}

.jus-cont {
    &-start {
        justify-content: start;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: end;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-every {
        justify-content: space-evenly;
    }
}

.m-auto {
    margin-left: auto;
}

.testline {
    height: 200px;
}


.item {
    height: 50px;
    background-color: wheat;
    font-size: 24px;
}



